body {
    margin: 0px;
    display: block;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}
.container{
    margin: auto;
    padding: 0.1rem;
    max-width: 60rem;
}
a {
    text-decoration: none;
    padding-right: 2rem;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

nav {
    background-color: black;
    height: 3rem;
    width: 100%;
}

header h4{
    color: #2700ff;
}

section {
    margin-bottom:40px;
}


section .container div {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

footer{
    background-color: black;
    height:8rem;
    color:white;
    font-size: 1rem;
    padding-top:0rem;
}

footer div{
    height:1rem;
    color:white;
    font-size: 1rem;
    padding-top:0rem;
}


